.text-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
}

.resize-drag {
  background-color: #29e;
  color: white;
  font-size: 0.7rem;

  width: 5rem;
  height: 5rem;

  touch-action: none;

  /* This makes things *much* easier */
  box-sizing: border-box;
}