#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Aspect ratio of an A4 is 1.414. So height and width of the canvas 
    should conform to this */
    width: var(--canvas-width);
    height: calc(var(--canvas-width) * 1.414);
    margin: auto;
    background-color: green;
}