:root {
  font-size: clamp(10px 1.3vh 16px);
  --canvas-width: max(60vh, 23rem);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* outline: solid red 0.1rem; */
}

.resize-drag {
  position: relative;
}