:root {
  font-size: clamp(10px 1.3vh 16px);
  --canvas-width: 47rem;
  --canvas-height: calc(1.414 * var(--canvas-width));
  --navbar-height: 4rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* outline: solid red 0.1rem; */
}

.resize-drag {
  position: absolute;
  background-color: transparent;
  color: white;
  font-size: 0.7rem;

  width: 5rem;
  height: 5rem;

  touch-action: none;

  /* This makes things *much* easier */
  box-sizing: border-box;
}

.resize-drag.active {
  outline: dashed white 0.1rem;
}

ul li {
  list-style: none;
}